* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans.ttf);
}
@font-face {
    font-family: 'Crimson Text';
    src: url(../fonts/CrimsonText.ttf);
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 125px;
    margin: 0;
    background-color: #74C69D;
}

.nav-in-header {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 135px;
    padding-top: 35px;
}

.leftdiv-in-nav {
    display: flex;
}

.logo-in-nav {
    margin-right: 18px;
}

.web-name-a {
    text-decoration: none;
}

.webname-in-nav {
    font-family: 'Work Sans';
    text-transform: capitalize;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    margin: 0;
}

.ul-in-nav {
    list-style: none;
    display: flex;
}

.a-in-headernav {
    text-decoration: none;
    font-family: 'Work Sans';
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 30px;
}

.plans-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1-in-plans-section1 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
    margin: 0;
}

.text2-in-plans-section1 {
    font-family: 'Crimson Text';
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin: 16px 0 16px 0;
}

.text3-in-plans-section1 {
    font-family: 'Work Sans';
    text-transform: capitalize;
    line-height: 20px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin: 0;
}

.plans-div {
    margin-top: 78px;
    display: flex;
    column-gap: 105px;
}

.plans-1, .plans-2,
.plans-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 339px;
    height: 494px;
    background: #FFFFFF;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-top: 46px;
}

.text1-in-plans {
    font-family: 'Work Sans';
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    margin: 0;
}

.text2-in-plans {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    color: rgba(33, 37, 41, 0.5);
}

.text3-in-plans {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    color: rgba(33, 37, 41, 0.5);
    text-align: center;
    margin: 0;
}

.ul-in-plans {
    align-self: self-start;
    list-style: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.ul-in-plans .li-in-plans::before {
    color: #74C69D;
    content: "\2713\0020";
    padding-right: 11px;
}

.li-in-plans {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    color: #212529;
}

.button-in-plans {
    width: 170px;
    height: 48px;
    background-color: #212529;
    border-radius: 5px;
    border: none;
    margin-top: 45px;
}

.a-in-button-plans {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Work Sans';
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

footer {
    height: 125px;
    background-color: #74C69D;
    margin-top: 99px;
    display: flex;
    justify-content: center;
}

.div-in-footer {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.leftdiv-in-footer i {
    color: #FFFFFF;
    width: 18px;
    height: 18px;
}

.text1-in-footer {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

